doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1, user-scalable=no")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content="black")
    link(rel='stylesheet', href='./main.css')
  body
    #header.navbar.navbar-default(role="navigation")
    #main.container
    #footer
    #settings
    #login
    #error
    script(type="text/template", id="header-template")
      .btn-group.pull-left
        button.btn.btn-default.back-button(type='button' \, style="margin-top: 10px") back
      a.header-title.navbar-brand.text-center babascript
      //- ul.nav.navbar-nav.navbar-right
      //-   li.dropdown
      //-     a.dropdown-toggle(data-toggle='dropdown',aria-expanded='false',href='javascript:void(0)')
      //-       | menu
      //-       b.caret
      //-       .ripple-wrapper
      //-     ul.dropdown-menu
      //-       li: a.cancel-button キャンセル
      //-       li: a.settings-button 設定
      .btn-group.pull-right
        button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown", style="margin-top: 10px")
          メニュー
          //- span.glyphicon.glyphicon-list
        ul.dropdown-menu(role="menu")
          li: a.cancel-button キャンセル
          li: a.settings-button 設定

    script(type="text/tepmlate", id="settings-template")
      .modal-content
        .modal-header
          設定
          button.close(type="button", data-dismiss="modal", aria-hidden="true") x
        .modal-body
          .form-group
            label(for="username") username
            input#username.form-control(placeholder="username...")
          button.update.btn.btn-default(type="button") 変更する

    script(type="text/tepmlate", id="login-template")
      .modal-content
        .modal-header
          ログイン
          button.close(type="button", data-dismiss="modal", aria-hidden="true") x
        .modal-body
          .form-group
            label(for="username") username
            input#username.form-control(placeholder="username...")
          .form-group
            label(for="password") password
            input#password.form-control(type='password', placeholder="password...")
        .modal-footer
          button.login.btn.btn-default(type="button") ログイン
          button.signup.btn.btn-info(type="button") サインアップ

    script(type="text/template", id="main-template")
      #returnview.row

    script(type="text/template", id="normal-template")
      h3.text-center.text-center 命令を待ってください

    script(type="text/template", id="boolean-template")
      h2.text-center <%= key %>
      h4.description <%= description %>
      hr
      p.bs-component
        button.btn.btn-primary.btn-block.yes-button(type='button') はい
        button.btn.btn-success.btn-block.no-button(type='button') いいえ
      hr
      a.btn.btn-warning.error-button throw error
      .error.fade.panel.panel-default
        .panel-body
          p.description エラーの理由を文字列で入力するか、選択肢から選んでください
          form(role="form")
            input.form-control.string-value(type="text")
            br
            select.setphrase.form-control
              option やりたくない
              option 型がおかしい
              option 選択肢からは選べない
        .panel-footer
          button.btn.btn-danger.btn-lg.btn-block.error-submit(type="button", data-dismiss="modal") throw error

    script(type="text/template", id="string-template")
      h2.text-center <%= key %>
      h4.description <%= description %>
      .form-group
        input.form-control.floating-label.string-value(type='text', data-hint='you must put string', placeholder!='<%= example %>')
        button.btn.btn-primary.btn-lg.btn-block.submit(type="button") submit
      hr
      a.btn.btn-warning.error-button throw error
      .error.fade.panel.panel-default
        .panel-body
          p.description エラーの理由を文字列で入力するか、選択肢から選んでください
          form(role="form")
            input.form-control.string-value(type="text")
            br
            select.setphrase.form-control
              option やりたくない
              option 型がおかしい
              option 選択肢からは選べない
        .panel-footer
          button.btn.btn-danger.btn-lg.btn-block.error-submit(type="button", data-dismiss="modal") throw error

    script(type="text/template", id="number-template")
      h3.text-center <%= key %>
      p.description <%= description %>
      hr
      form.form-horizontal.number-form(role="form")
        fieldset
          .form-group
            input.form-control.floating-label.input-lg.number-value(type="number", placeholder!='<%= example %>', data-hint='you must put number')
            button.btn.btn-primary.btn-lg.btn-block.return-submit(type="submit") submit
      hr
      a.btn.btn-warning.error-button throw error
      .error.fade.panel.panel-default
        .panel-body
          p.description エラーの理由を文字列で入力するか、選択肢から選んでください
          form(role="form")
            input.form-control.string-value(type="text")
            br
            select.setphrase.form-control
              option やりたくない
              option 型がおかしい
              option 選択肢からは選べない
        .panel-footer
          button.btn.btn-danger.btn-lg.btn-block.error-submit(type="button", data-dismiss="modal") throw error

    script(type="text/template", id="list-template")
      h2.text-center <%= key %>
      h4.description <%= description %>
      <% _.each(list, function(item){ %>
      a.btn.btn-primary.btn-lg.btn-block.item(href='javascript:void(0)', id!='<%= item %>') <%= item %>
      <% }); %>
      hr
      a.btn.btn-warning.error-button(data-toggle='modal', data-target='#errorModal') throw error
      .error.fade.panel.panel-default
        .panel-body
          p.description エラーの理由を文字列で入力するか、選択肢から選んでください
          form(role="form")
            input.form-control.string-value(type="text")
            br
            select.setphrase.form-control
              option やりたくない
              option 型がおかしい
              option 選択肢からは選べない
        .panel-footer
          button.btn.btn-danger.btn-lg.btn-block.error-submit(type="button", data-dismiss="modal") throw error

    script(type="text/template", id="void-template")
      h3.text-center <%= key %>
      p.description <%= description %>
      hr
      button.void.btn.btn-primary.btn-block(type="button") はい
      .error.fade.panel.panel-default
        .panel-body
          p.description エラーの理由を文字列で入力するか、選択肢から選んでください
          form(role="form")
            input.form-control.string-value(type="text")
            br
            select.setphrase.form-control
              option やりたくない
              option 型がおかしい
              option 選択肢からは選べない
        .panel-footer
          button.btn.btn-danger.btn-lg.btn-block.error-submit(type="button", data-dismiss="modal") throw error

    script(type="text/template", id="camera-template")
      h3.text-center <%= key %>
      p.description <%= description %>
      hr
      input.camera(type="file",accept="image/*;capture=camera",id="imageFile")

    script(type="text/template", id="throw-error-template")
      .panel.panel-default
        .panel-heading
          strong.text-center 命令内容は [<%= key %>] です。
        .panel-body
          p.description エラーの理由を文字列で入力するか、選択肢から選んでください
          form(role="form")
            input.form-control.string-value(type="text", style="margin-bottom: 10px")
            select.setphrase.form-control
              option やりたくない
              option 型がおかしい
              option 選択肢からは選べない
        .panel-footer
          button.cancel.btn.btn-danger.btn-lg.btn-block(type="button", data-dismiss="modal") throw error
          button.return.btn.btn-primary.btn-lg.btn-block(type="button", data-dismiss="modal") 戻る
    script#todo-list-template(type='text/template')
      ul.todo-list
    script(type='text/template', id='todo-template')
      li.todo-item
        .well.col-xs-12
          h5 <%= key %>

    script(src="./app.js")
